<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ifanfaizaladnan.custom_webview_plugin">

    <application>
        <activity
            android:name=".WebViewAct"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:hardwareAccelerated="true"/>
    </application>
</manifest>
